html {
  margin: auto;
  hyphens: auto;
}

.omi {
	font-family: "Times New Roman", serif;
	font-size: 22px;
	padding-left: 1px;
	padding-right: 1px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}

a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
	
a:hover {
	color: red;
}


.buttonInit {
	font-family: Times, Times New Roman, serif;
    text-align: center;
    color: red;
    font-size: 28px;
    font-weight: normal;
    margin-bottom:0em;
    margin-top: 0em;
    margin-left: 10%;
    margin-right: 10%;
    border: solid red 1px;
}

.sigue {
	font-family: Times, Times New Roman, serif;
    text-align: right;
    font-size: 24px;
    margin-right: 24px;
    margin-top: 0em;
    color: red;
}

.Poesia {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    text-indent: -1.8em;
}

.Poesia2 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    font-style: italic;
    margin-left: 5%;
}
.TitNormal {
	font-family: Times, Times New Roman, serif;
    text-align: justify;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-indent: -1.8em;
}

.Normal {
	font-family: Times, Times New Roman, serif;
    text-align: justify;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    margin-left: 1.8em;
}

.indice{
	font-family: Times, Times New Roman, serif;
    text-align: left;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    margin-left: 2em;
    font-size: 28px;
}
.pTit {
	font-family: Times, Times New Roman, serif;
    text-align: center;
    color: blue;
    font-size: 34px;
    font-weight: normal;
    margin-bottom:0em;
    margin-top: 1em;
}

.pT1 {
	font-family: Times, Times New Roman, serif;
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: normal;
    margin-bottom:2em;
    margin-top: 0em;
}

.pT2 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    color: blue;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.pT3 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    font-style: italic;
    color: blue;
    font-weight: normal;
    margin-bottom: 17px;
    margin-top: 0.5em;
    margin-left: 1.8em;
}

.pT4 {
	font-family: Times, Times New Roman, serif;
    text-align: center;
    color: green;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 2em;
	margin-top: 1em;
}

.pT5 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    color: brown;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 1px;
    margin-top: 1em;
}

.Final {
	font-family: Times, Times New Roman, serif;
    text-align: right;
    font-style: italic;
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 18px;
    color: blue
}

.red {
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
	color: red;
	border-top: 1px solid red;
}
	
.fixedButton {
  position: fixed;
  bottom: 15px;
  right: 2px;
  margin-bottom: 30px;
}


.perTabla {
    font-family: "Times New Roman", Times, serif;
    color: red;
	font-size: 24px;
    align: center;
	   }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

.butXL {
  font: normal 26px Times;
  background-color: orange;
  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 0.2em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 80%;
}

.pT3but a:link {
  color: white;
}
.pT3but a:visited {
  color: white;
}
.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}
