html {
  max-width: 60ch;
  padding: 0.5ch;
  margin: auto;
  font-size: 1em;
  hyphens: auto;
}

.omi {
 /* background-color: #ffffcc;*/
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  padding-left: 1px;
  padding-right: 1px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
h1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 1em;
  margin-top: 0;
  color: black;
}
h2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
  color: green;
}

h2.pT2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: brown;
}
h3 {
  border-top: 2px solid blue;
  padding-top: 0.4em;
  margin-right: 3em;
  margin-left: 3em;
  color: brown;
}
h4 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 0;
  color: red;
}
h6 {
  margin-right: 0;
  margin-left: 0;
  font-size: 7.5pt;
  font-weight: bold;
}
hr {
  border: 2px solid red;
  border-radius: 5px;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
hr.Invit {
  border: 1px solid #bb1919;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0em;
  margin-left: 0em;
}

p {
  font-family: Times, Times New Roman, serif;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.05em;
}
.Ant {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-weight: normal;
  text-indent: -1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  color:maroon;
}
.butDiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.3em;
  width: 95%;
  padding-bottom: 0.8em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #062;
  box-shadow: 3px 8px 28px #888;
}
.butH1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  color: red;
}
.butSmall {
  font: normal 0.9em Times;
  background-color: #00802b;
  /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 0.2em 0.01em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.1em 0.1em;
  cursor: pointer;
}
.butSmall {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butSmall {
  width: 40%;
}
.butTit1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 0.8em;
  color: red;
}
.button {
  background-color: #bb1919;
  border: none;
  color: white;
  padding: 0.3em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.1em 0.1em;
  cursor: pointer;
  border-radius: 6px;
}
.button {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.button {
  width: 15%;
}
.buttonL {
  background-color: #bb1919;
  border: none;
  color: white;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin: 0.1em 0.1em;
  cursor: pointer;
  border-radius: 6px;
}
.buttonL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.buttonL {
  width: 45%;
}
.butTxt {
  color: white;
  text-indent: 0;
  letter-spacing: 2px;
  padding: 0 0 0 0;
  text-align: center;
  margin-right: 0.3em;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}
.butXL {
  font: normal 1em Times;
  background-color: orange;

  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 80%;
}
.dia {
  font-family: Times, Times New Roman, serif;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.2em;
  text-align: center;
  color: brown;
}
.divH2TO {
  display: block;	
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 2px;
  color: #062;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.divTO {
  display: block;
  width: 85%;
  padding-bottom: 3em;
  margin: auto auto;
  color: #062;
  box-shadow: 3px 8px 28px #888;
  background: linear-gradient(to bottom right, white 50%, orange);
  margin-bottom: 1.3em;
  border-top: solid 5px;
  border-bottom: solid 5px;
  border-left: solid 5px;
  border-right: solid 5px;
  border-color: orange;
}
.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}
.h_ref {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.1em;
  margin-left: 0;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}
.hMedia {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  margin-top: 1.3em;
  margin-left: -0.4em;
  margin-bottom: 0.2em;
    color:blue;
}


.bullett {
	position:relative;
    line-height:0em;
	float:left;
	margin-top:0.24em;
	margin-bottom:0.1em;
    padding-right: 0.3em;
    padding-left: 0em;
    font-size:2.2em;
    font-weight:bold;
    color:red;
}
.bullett2 {
	position:relative;
    line-height:0.62em;
	float:left;
	margin-top:0.24em;
	margin-bottom:0.1em;
    padding-right: 0.5em;
    padding-left: 0em;
    font-size:1.2em;
    font-weight:bold;
    color:red;
}



.Index {
  font-family: Times, Times New Roman, serif;
  font-size: 1.2em;
  font-weight: normal;
  text-indent: 0;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  margin-left: 1em;
}
.ItRed {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-style: normal;
  color: red;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
}
.Lectura {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: brown;
}
.Nero {
  color: black;
}
.Normal {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -1.8em;
  padding: 0 0 0 3em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  color: red;
}



.Oremos {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  margin-left: 1.4em;
  margin-top: 1em;
  margin-bottom: 0;
  color: brown;
}
.pFloat {
  float: right;
  color: red;
  font-weight: normal;
}
.Prece {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0.3em;
}
.pRight {
  font-family: Times, Times New Roman, serif;
  font-size: 0.8em;
  font-weight: normal;
  color: red;
  font-style: italic;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.pT1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.3;
  margin-top: 0.3em;
  color: red;
}
.pT2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0;
  color: red;
}
.pT3 {
  font-family: Times, Times New Roman, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: red;
}
.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}

.pT3but a:link {
  color: white;
}
.pT3but a:visited {
  color: white;
}

.pT4 {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  color: red;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0;
}
.respR {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -2em;
  margin-left: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;

}
.respV {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -2em;
  margin-left: 2em;
  margin-top: 0.7em;
  margin-bottom: 0.1em;

}
.Rosso {
  color: red;
}
.RossoIt {
  color: red;
  font-style: italic;
}
.roundedFixedBtn {
  height: 36px;
  line-height: 30px;
  width: 30px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
}
.SalmoEtc {
  font-family: Times, Times New Roman, serif;
  font-size: 0.8em;
  font-weight: bold;
  color: red;
  margin-top: 1em;
  margin-bottom: 0;
}
.SalmoNum {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  color: red;
  margin-top: 0;
  margin-bottom: 8px;
}
.SalmoNum2 {
  font-family: Times, Times New Roman, serif;
  font-size: 0.6em;
  color: red;
  margin-top: 0;
  margin-bottom: 8px;
}
.SalmoTit {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-weight: bold;
  color: red;
  margin-top: 1em;
  margin-bottom: 0;
}
.SalmoTxt {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -11px;
  padding: 0 0 0 11px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  hyphens:none;
}

.Pres {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -20px;
  padding: 0 0 0 20px;
  margin-top: 0.5em;
  margin-left: 0em;
  margin-bottom: 0.3em;
  hyphens:none;
}

.sinNum {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  font-style: italic;
  font-weight: normal;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  margin-left: 3em;
}
.TxtNorm {
  font-family: Times, Times New Roman, serif;
  text-align: justify;
  font-size: 1em;
  text-indent: 1.5em;
  margin-top: 0;
  margin-bottom: 0.3em;
  margin-left: 0;
  hyphens: auto;

}
.Up_but {
  font-family: Arial;
  margin-bottom: 0;
}
.V_R {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -2em;
  margin-left: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.WeekDay {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 1.1em;
  text-align: right;
  margin-top: 3em;
  margin-bottom: 1em;
}
.Year {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  font-weight: bold;
  color: red;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.button a:link {
  color: #FFF;
}
.button a:visited {
  color: white;
}
.buttonInv a:link {
  color: #bb1919;
}
.buttonInv a:visited {
  color: #bb1919;
}

.buttonL a:link {
  color: #FFF;
}
.pT3but a:link {
  color: white;
}

.respV::first-letter {
  color: red;
}
.roundedFixedBtn a:link {
  color: white;
}
.SalmoTxt::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}

.Pres::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}

.Up_but a:visited {
  color: white;
}
.V_R::first-letter {
  color: red;
}
h2.pT3 {
  font-family: Times, Times New Roman, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: brown;
}

.center {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.pcenter {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.SalInv {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  color: brown;
}

.buttonInv {
  background-color: white;
  border: 2px solid;
  border-color: #bb1919;
  color: #bb1919;
  font-weight: bold;
  padding: 0.3em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0.2em;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}
.buttonInv {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.buttonInv {
  width: 25px;
}

